
docker.enabled = true

// aws {
//     batch {
//         cliPath = '/home/ec2-user/miniconda/bin/aws'
//     }
//     client {
//         maxConnections = 20
//         connectionTimeout = 30000
//         uploadStorageClass = 'INTELLIGENT_TIERING'
//         // uploadMaxThreads = 4
//         // uploadChunkSize = 100 MB
//         // uploadMaxAttempts = 10
//         // uploadRetrySleep = 500
//     }
// }

// process {

//   executor = 'awsbatch'
//   queue =  'genomics' 

// }
